@import url("./styles/navbar.css");
@import url("./styles/hero.css");
@import url("./styles/projects.css");

:root {
  --primary-background-color: #eff8fa;
  --primary-dark-background-color: #333;

  --text-color: #39393a;
  --text-color-light: #5b5b5d;

  --secondary-color: #20536f;
  --secondary-color-light: #2f779d;

  --border-radius: 20px;
  --page-padding-large-desktop: 0 4rem 2rem 12rem;
  --page-padding-small-desktop: 0 3rem 2rem 10rem;
  --page-padding-tablet: 0 3rem 2rem 8rem;
  --page-padding-mobile: 0 2rem 2rem 2rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100%;
  overflow-x: hidden;
  height: 100%;
}

body {
  background-color: var(--primary-background-color);
  font-family: "Heebo", sans-serif;
  font-weight: 300;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

#overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.692);
  z-index: 50;
  pointer-events: none;
  transition: all 0.35s ease-in;
}
