#projects {
  padding: var(--page-padding-large-desktop);
  position: relative;
  margin-bottom: 2rem;
}

#projects h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 400;
}
.project-wrapper {
  display: flex;
  padding-bottom: 2rem;
  padding-top: 1.5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.project-wrapper:last-of-type {
  border-bottom: none;
}

.project-img {
  flex: 1;
  position: relative;
  z-index: 2;
}

.project-img img {
  filter: brightness(50%);
  transition: all 0.25s ease-in;
  border-radius: var(--border-radius);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.project-img a:hover img {
  filter: brightness(100%);
  transform: scale(1.05);
}

.project-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: justify;
  z-index: 10;
}

.project-text h4 {
  color: var(--text-color);
  margin-bottom: -1rem;
}

.project-text h2 {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
}

.project-text a {
  color: var(--text-color);
  transition: all 0.2s ease-in;
  font-weight: 300;
  text-decoration: underline;
}

.project-text a:first-child {
  margin-right: 0.5rem;
}

.project-text a:last-child {
  margin-left: 0.5rem;
}

.project-text a:hover {
  color: var(--secondary-color-light);
  /* font-weight: bold; */
  text-decoration: none;
}

.project-text .description {
  font-size: 1.05rem;
  z-index: 4;
}

.project-text .description span {
  font-size: 0.75rem;
}

.project-text .tags {
  display: flex;
  flex-wrap: wrap;
}

.project-text .tags span {
  margin-right: 1rem;
  text-transform: uppercase;
  font-size: 0.85rem;
  color: var(--secondary-color-light);
}

.project-wrapper .project-text {
  padding: 1rem 1.5rem;
}

@media screen and (max-width: 1440px) {
  #projects {
    padding: var(--page-padding-small-desktop);
  }

  .project-img {
    flex: 1.5;
  }

  .project-text {
    flex: 1;
  }
}

@media screen and (max-width: 1024px) {
  #projects {
    padding: var(--page-padding-tablet);
  }
}
@media screen and (max-width: 768px) {
  #projects {
    padding: var(--page-padding-mobile);
  }

  .project-wrapper {
    flex-direction: column;
    padding-top: 2rem;
  }

  .project-img img {
    margin-bottom: 1rem;
  }

  .project-wrapper .project-text {
    width: 100%;
    padding: 0 0.05rem;
  }

  .project-text .description span {
    display: block;
  }
}
